@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500&display=swap");
$backgroundColor: #dae6e4;
$color1: rgb(41, 36, 25);
$color2: rgb(122, 112, 68);
.cloud {
  border-radius: 50%;
  position: absolute;
}
.cloud1 {
  width: 100px;
  height: 1250px;
  top: -120px;
  left: -10vw;
  filter: url(#filter);
  box-shadow: 400px 400px 60px 0px lighten(hsl(134.12, 22.08%, 84.9%), 4%);
}
.cloud2 {
  width: 170px;
  height: 1500px;
  top: -520px;
  left: 20vw;
  filter: url(#filter2);
  box-shadow: 400px 400px 60px 0px lighten(hsl(134.12, 22.08%, 84.9%), 4%);
}
.cloud3 {
  width: 900px;
  height: 125px;
  top: -320px;
  left: -320px;
}
.customOverlay {
  background: rgba(41, 36, 25, 0.089) !important;
  // border: solid clamp(2vw, 1.5vw, 0.5vw) rgb(230, 229, 215);
  // outline-color: darken(#e2e1d4, 2%);
  overflow: hidden;
  backdrop-filter: blur(7px);
  padding: 0rem !important;
}
.navigation {
  padding: 1rem 2rem;
  margin: 1rem 4rem;
  height: 3rem;
  position: relative;
  animation: entranceAnimation2 1500ms ease;
  .name {
    font-family: "corporate regular";
    font-size: 1.4em;
    background-image: url("../public/Roman.jpg");
    background-repeat: no-repeat;
    background-size: 190% 190%;
    // background-position: 100% 100%;
    animation: square 4000ms ease;
    -webkit-background-clip: text;
    animation-fill-mode: forwards;
    color: transparent;
    width: 200px;
    text-align: center;
    line-height: 200px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0px;
  }
  .whereToContainer {
    float: right;
    font-family: "Work Sans", sans-serif;
    color: rgb(71, 71, 71);
    font-size: 1.2em;
    display: inline-flex;
    font-weight: 400;
    // font-variation-settings: "wght" 235, "wdth" 100, "ital" 0;
    // text-transform: capitalize;
    a {
      padding-left: 1rem;
      cursor: pointer;
      transition: all 0.27s ease-in-out;
      &:hover {
        // font-variation-settings: "wght" 235, "wdth" 100, "ital" 100;
        // color: darkorange;
      }
    }
  }
}

.header {
  animation-duration: 1s;
  // animation-name: entranceAnimation;
  animation-timing-function: ease;
  // animation-iteration-count: 3;
  animation-fill-mode: forwards;
  image-rendering: pixelated;
  position: relative;
  width: 100%;
  height: 60vh;
  .descriptionContainer {
    color: #4d84f1;
    font-family: "corporate";
    font-size: 6em;
    width: 45%;
    position: absolute;
    border-radius: 5px;
    right: 3rem;
    top: 0px;
    padding: 1.8rem 3.4rem;
    // border: solid 1px rgb(194, 194, 194);
    // background: lighten($backgroundColor, 7%);
    margin-top: 4rem;
    // box-shadow: 0 4.5px 3.6px rgba(0, 0, 0, 0.017),
    //   0 12.5px 10px rgba(0, 0, 0, 0.025), 0 30.1px 24.1px rgba(0, 0, 0, 0.033),
    //   0 100px 80px rgba(0, 0, 0, 0.05);
  }
}

.title {
  font-size: 6.5em;
  color: rgb(41, 36, 25);
  font-family: "corporate";
  font-weight: unset;
  padding-left: 0.12em;
  margin-block-start: 0px;
}
.workSection {
  width: 80%;
  margin-bottom: 5em;
  height: 80vh;
  position: relative;
  .workSectionBody {
    // position: absolute;
    left: 0px;
    bottom: 0px;
    .workContainer {
      font-family: "flexa";
      text-transform: uppercase;
      font-size: 8em;
      padding-left: 30px;
      line-height: 1 !important;
      position: relative;
      color: rgb(26, 25, 24);
      z-index: 1;
      display: flex;
      animation-duration: 1s;
      animation-name: entranceAnimation;
      animation-timing-function: ease;
      // animation-iteration-count: 3;
      animation-fill-mode: forwards;
      bottom: -25px;
    }
    .workBody {
      display: flex;
      flex-wrap: wrap;
      z-index: 4;
      position: relative;
      .trails-main {
        display: flex;
        flex-wrap: wrap;
        div {
          display: inline-block;
          .trails-text {
            display: inline-block !important;
            div {
              display: flex;
              position: relative;
              .workItemContainer {
                border: solid 2px rgb(26, 25, 24);
                border-radius: 55px;
                padding: 22px 42px;
                margin: 2px 4px 2px 0px;
                white-space: nowrap;
                position: relative;
                transition: all 0.35s ease;
                background: lighten($backgroundColor, 7%);
                z-index: 6;
                box-shadow: 0px 0px 10px rgba(26, 25, 24, 0.19);
                cursor: pointer;
                .workItem {
                  font-family: "flexa", sans-serif;
                  color: rgb(26, 25, 24);
                  font-size: 2.8rem;
                  line-height: 110%;
                  cursor: pointer;
                  transition: all 0.15s ease-in-out;
                  font-variation-settings: "wght" 245, "wdth" 95;
                  letter-spacing: -0.125rem;
                  text-align: center;
                }
              }
            }
          }
        }
      }
    }
  }
  // background: black;
}
.customModal {
  box-shadow: unset !important;
  background-color: $backgroundColor !important;
  // filter: url(#grain);
  max-width: unset !important;
  width: 100vw !important;
  height: 100vh !important;
  overflow: hidden;
  padding: 0rem !important;
  margin: 0px !important;
  .projectDesignation {
    background-color: lighten($backgroundColor, 7%) !important;
    padding: 11px;
    padding-left: 22px;
    display: block;
    color: $color1;
    font-size: 1.3em;
    font-family: "flexa";
    font-weight: 500;
    // font-variation-settings: "wght" 450, "wdth" 150;
    letter-spacing: 0.05em;
    border-bottom: solid 1px rgb(26, 25, 24);
  }

  button {
    border: none !important;
    outline: none !important;
    &:hover {
      svg {
        fill: darkorange !important;
      }
    }
    svg {
      transition: all 0.15s ease;
      fill: $color1 !important;
    }
  }
  .modalBody {
    padding: 1rem 4.5rem;
    background: lighten($backgroundColor, 7%);
    height: 100%;
    .modalHeader {
      color: $color1 !important;
      font-family: "flexa";
      font-size: 4em;
      font-variation-settings: "wght" 245, "wdth" 95;
      margin-block-end: 0rem;
      line-height: 110%;
      margin-block-start: 2.5rem;
    }
    .modalSubheading {
      color: rgb(139, 139, 139);
      font-size: 1.5em;
      padding-left: 5px;
    }
  }
}
hr {
  border: 0;
  height: 1px;
  background: rgb(63, 62, 61);
}
.container {
  // clamp(MIN, VAL, MAX)
  // MIN for larger screens
  // MAX for smaller screens
  // VAL for ideal mid value
  // padding: clamp(2vw, 1.5vw, 0.5vw);

  main {
    border-radius: 3px;
    margin: 0 auto;
    background: linear-gradient(
      to top,
      hsl(150, 26.09%, 90.98%) 0%,
      hsl(149.71, 26%, 90.9%) 8.1%,
      hsl(148.93, 25.77%, 90.69%) 15.5%,
      hsl(147.76, 25.43%, 90.35%) 22.5%,
      hsl(146.32, 25.03%, 89.91%) 29%,
      hsl(144.74, 24.61%, 89.4%) 35.3%,
      hsl(143.09, 24.18%, 88.84%) 41.2%,
      hsl(141.47, 23.77%, 88.24%) 47.1%,
      hsl(139.93, 23.39%, 87.64%) 52.9%,
      hsl(138.52, 23.06%, 87.04%) 58.8%,
      hsl(137.26, 22.77%, 86.48%) 64.7%,
      hsl(136.19, 22.53%, 85.97%) 71%,
      hsl(135.32, 22.34%, 85.53%) 77.5%,
      hsl(134.67, 22.2%, 85.2%) 84.5%,
      hsl(134.26, 22.11%, 84.98%) 91.9%,
      hsl(134.12, 22.08%, 84.9%) 100%
    );
    overflow: hidden;
    height: 100%;
    position: relative;
    .noise {
      height: 120%;
      width: 100%;
      top: -10%;
      background: url("http://i.imgur.com/P0Kkvuv.png");
      position: absolute;
      // z-index: 10;
    }
  }
}
.container > * {
  // animation: 0.8s entranceAnimation ease-out;
}

.clickable {
  cursor: url("/pointer.png"), pointer;
}

body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  scroll-behavior: smooth;
  background-color: #d0e1d4;
}
* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: unset;
}
section {
  padding: 0rem 5rem;
}
@font-face {
  font-family: "corporate";
  src: url("./fonts/Corporate-Light.ttf");
}
@font-face {
  src: url("./fonts/GT_Flexa_VAR.woff2") format("woff2-variations");
  font-family: "flexa";
  font-style: normal;
}
@font-face {
  src: url("./fonts/Jabin.woff2") format("woff2-variations");
  font-family: "jabin";
  font-style: normal;
}
@font-face {
  src: url("./fonts/CorporateABQ-Regular.otf") format("opentype");
  font-family: "corporate regular";
}

@keyframes entranceAnimation {
  from {
    opacity: 0;
    font-variation-settings: "wght" 625, "wdth" 0, "ital" 0;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 1;
    font-variation-settings: "wght" 625, "wdth" 0, "ital" 80;
  }
}
@keyframes entranceAnimation2 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes square {
  0% {
    background-position: 95% 95%;
  }
  70% {
    color: transparent;
  }
  100% {
    background-position: 70% -15%;
    // color: $color1;
    // -webkit-background-clip: unset;
  }
}
