@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500&display=swap");
.customOverlay {
  background: rgba(41, 36, 25, 0.089) !important;
  overflow: hidden;
  -webkit-backdrop-filter: blur(7px);
          backdrop-filter: blur(7px);
  padding: 0rem !important;
}

.customModal {
  -webkit-box-shadow: unset !important;
          box-shadow: unset !important;
  background-color: #e2e1d4 !important;
  max-width: unset !important;
  width: 100vw !important;
  height: 100vh !important;
  overflow: hidden;
  padding: 0rem !important;
  margin: 0px !important;
}

.customModal .projectDesignation {
  padding: 15px;
  padding-left: 22px;
  display: block;
  color: #292419;
  font-size: 1em;
  font-family: "Work Sans";
  font-weight: 500;
  letter-spacing: 0.05em;
  -webkit-font-smoothing: unset;
  -moz-osx-font-smoothing: unset;
  border-bottom: solid 1px #8a8a8a;
}

.customModal button {
  border: none !important;
  outline: none !important;
}

.customModal button:hover svg {
  fill: darkorange !important;
}

.customModal button svg {
  -webkit-transition: all 0.15s ease;
  transition: all 0.15s ease;
  fill: #292419 !important;
}

.customModal .modalBody {
  padding: 0em 1em;
}

.customModal .modalBody .modalHeader {
  color: #292419 !important;
  font-family: "corporate";
  font-size: 4em;
  padding-left: 1em;
}

.sectionHeader {
  display: block;
}

.sectionHeader .header {
  font-size: 2.5em;
  color: #292419;
  font-family: "corporate";
  line-height: 90%;
  font-weight: unset;
}

.title {
  font-size: 6.5em;
  color: #292419;
  font-family: "corporate";
  font-weight: unset;
  padding-left: 0.12em;
  -webkit-margin-before: 0px;
          margin-block-start: 0px;
}

.workSection {
  width: 70%;
  margin-bottom: 5em;
  height: 80vh;
  position: relative;
}

.workSection .workSectionBody {
  position: absolute;
  left: 0px;
  bottom: -700px;
}

.workSection .workSectionBody .workContainer {
  font-family: "flexa";
  color: #1a1918;
  text-transform: uppercase;
  font-size: 8em;
  font-variation-settings: "wght" 625, "wdth" 0, "ital" 70;
  padding-left: 10px;
  line-height: 1 !important;
  position: relative;
  bottom: -30px;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.workSection .workSectionBody .workBody {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  z-index: 4;
  position: relative;
}

.workSection .workSectionBody .workBody .workItemContainer {
  border: solid 2px #1a1918;
  border-radius: 55px;
  padding: 22px 32px;
  margin: 2px 2px 2px 0px;
  white-space: nowrap;
  position: relative;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  background: #f0f0e9;
  z-index: 6;
}

.workSection .workSectionBody .workBody .workItemContainer .workItem {
  font-family: "flexa", sans-serif;
  color: #1a1918;
  font-size: 2.5rem;
  line-height: 110%;
  cursor: pointer;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  font-variation-settings: "wght" 275, "wdth" 115;
  letter-spacing: -0.08rem;
  text-align: center;
}

.trails-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.trails-main div {
  display: inline-block;
}

.trails-main div .trails-text {
  display: inline-block !important;
}

.trails-main div .trails-text div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.trails-main div .trails-text div .workItemContainer {
  border: solid 2px #1a1918;
  border-radius: 55px;
  padding: 22px 40px;
  margin: 2px 2px 2px 0px;
  white-space: nowrap;
  position: relative;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  background: #f0f0e9;
  z-index: 6;
  cursor: pointer;
}

.trails-main div .trails-text div .workItemContainer .workItem {
  font-family: "flexa", sans-serif;
  color: #1a1918;
  font-size: 2.2rem;
  line-height: 110%;
  cursor: pointer;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  font-variation-settings: "wght" 275, "wdth" 115;
  letter-spacing: -0.08rem;
  text-align: center;
}

hr {
  border: 0;
  height: 1px;
  background: #3f3e3d;
}

.container main {
  border-radius: 3px;
  margin: 0 auto;
  background-color: #e2e1d4;
  background-image: url("/public/img-noise.png");
  overflow: hidden;
  padding: 5rem 5rem;
}

.clickable {
  cursor: url("/pointer.png"), pointer;
}

body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  scroll-behavior: smooth;
  background-color: #e6e5d7;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: unset;
}

@font-face {
  font-family: "corporate";
  src: url("./fonts/Corporate-Light.ttf");
}

@font-face {
  src: url("./fonts/GT_Flexa_VAR.woff2") format("woff2-variations");
  font-family: "flexa";
  font-style: normal;
}

@font-face {
  src: url("./fonts/Jabin-Typeface.woff2") format("woff2-variations");
  font-family: "jabin";
  font-style: normal;
}

@-webkit-keyframes entranceAnimation {
  from {
    -webkit-transform: translate(10px, 10px);
            transform: translate(10px, 10px);
    opacity: 0;
  }
  to {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
    opacity: 1;
  }
}

@keyframes entranceAnimation {
  from {
    -webkit-transform: translate(10px, 10px);
            transform: translate(10px, 10px);
    opacity: 0;
  }
  to {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
    opacity: 1;
  }
}
/*# sourceMappingURL=globals.css.map */