@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@300..800&display=swap");
html,
body {
  padding: 0px;
  margin: 0px;
  height: 100%;
  position: relative;
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  background: black;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: unset;
}

section {
  padding: 0rem clamp(0.5rem, 10vw, 10rem);
  display: block;
  margin: 0 auto;
}

section.navigation {
  position: relative;
  padding-top: 3.5rem;
  padding-bottom: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: White;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: left;
  z-index: 11;
  width: 100%;
  font-size: 2.5rem;
  font-family: "corporate condensed regular";
  width: 100%;
}

section.navigation .name {
  width: 100%;
}

section.navigation .name .wm {
  position: relative;
  width: 100%;
}

section.navigation .name .wm:before {
  position: absolute;
  bottom: -6px;
  right: 0px;
  width: 65px;
  left: 5px;
  height: 1px;
  content: "";
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background-color: #eee;
}

section.navigation .cone {
  height: 65px;
  width: 70px;
  position: relative;
  background: conic-gradient(from 3.1416rad at 50% 50%, black, white);
}

section.header {
  position: relative;
  width: 100%;
  color: #dfff7c;
  font-family: "Epilogue", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 5rem;
  line-height: 1.1;
}

section.header .descriptionContainer .description #distortion {
  padding-left: 8px;
}

section.work {
  position: relative;
  z-index: 20;
}

section.info {
  padding: 0rem 9rem 5rem 10rem;
  position: relative;
  z-index: 17;
}

.customOverlay {
  background: rgba(41, 36, 25, 0.089) !important;
  -webkit-backdrop-filter: blur(7px);
          backdrop-filter: blur(7px);
  padding: 0rem !important;
}

.customModal {
  -webkit-box-shadow: unset !important;
          box-shadow: unset !important;
  background-color: #f3eed2 !important;
  max-width: unset !important;
  width: 100vw !important;
  height: 100vh !important;
  overflow: hidden;
  padding: 0rem !important;
  margin: 0px !important;
}

.customModal .projectDesignation {
  background-color: #f3eed2 !important;
  padding: 11px;
  padding-left: 22px;
  display: block;
  color: #30231b;
  font-size: 1.3em;
  font-family: "Space Grotesk";
  font-weight: 500;
  letter-spacing: 0.05em;
  border-bottom: solid 1px #1a1918;
}

.customModal button {
  border: none !important;
  outline: none !important;
}

.customModal button:hover svg {
  fill: tomato !important;
}

.customModal button svg {
  -webkit-transition: all 0.15s ease;
  transition: all 0.15s ease;
  fill: #30231b !important;
}

.customModal .modalBody {
  padding: 1.5rem 5.5rem;
  background: #f3eed2;
  height: 100%;
}

.customModal .modalBody .modalHeader {
  color: #30231b;
  font-family: "Space Grotesk";
  font-size: 3em;
  -webkit-margin-after: 0rem;
          margin-block-end: 0rem;
  line-height: 110%;
  -webkit-margin-before: 2.5rem;
          margin-block-start: 2.5rem;
  letter-spacing: 0.05rem;
}

.customModal .modalBody .modalSubheading {
  color: grey;
  font-size: 1.3em;
  padding-left: 3px;
  font-family: "Space Grotesk";
}

.customModal .modalBody .modalSubheading .lilCapsule {
  font-size: 0.7em;
  font-family: "Space Grotesk";
  padding: 5px 15px;
  color: #30231b;
  line-height: 100%;
  border-radius: 50px;
  position: relative;
  bottom: 2px;
}

.customModal .modalBody.maxRosen .modalSubheading {
  padding-left: 2px;
}

.customModal .modalBody.maxRosen .modalSubheading span {
  background-color: pink;
}

.inViewtrue {
  -webkit-animation: entranceAnimation2;
          animation: entranceAnimation2;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.inViewtrueTitle {
  -webkit-animation: entranceAnimation;
          animation: entranceAnimation;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.inViewtrueAboutMe {
  -webkit-animation-delay: 0.75s;
          animation-delay: 0.75s;
}

@font-face {
  font-family: "corporate";
  src: url("./fonts/Corporate-Light.ttf");
}

@font-face {
  font-family: "corporate condensed regular";
  src: url("./fonts/Corporate Condensed Regular.woff2") format("woff2-variations");
  font-style: normal;
}

@font-face {
  font-family: "corporate condensed light";
  src: url("./fonts/Corporate Condensed Light.woff2") format("woff2-variations");
  font-style: normal;
}

@font-face {
  src: url("./fonts/CorporateABQ-Regular.otf") format("opentype");
  font-family: "corporate regular";
}

@-webkit-keyframes entranceAnimation {
  from {
    opacity: 0;
    -webkit-transform: translateY(80px);
            transform: translateY(80px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes entranceAnimation {
  from {
    opacity: 0;
    -webkit-transform: translateY(80px);
            transform: translateY(80px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@-webkit-keyframes entranceAnimation1 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes entranceAnimation1 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/*# sourceMappingURL=globals.css.map */