@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500&display=swap");
.customOverlay {
  background: rgba(41, 36, 25, 0.089) !important;
  overflow: hidden;
  -webkit-backdrop-filter: blur(7px);
          backdrop-filter: blur(7px);
  padding: 0rem !important;
}

.customModal {
  -webkit-box-shadow: unset !important;
          box-shadow: unset !important;
  background-color: #e2e1d4 !important;
  max-width: unset !important;
  width: 100vw !important;
  height: 100vh !important;
  overflow: hidden;
  padding: 0rem !important;
  margin: 0px !important;
}

.customModal .projectDesignation {
  background-color: #e2e1d4 !important;
  padding: 11px;
  padding-left: 22px;
  display: block;
  color: #292419;
  font-size: 1.3em;
  font-family: "Work Sans";
  font-weight: 500;
  letter-spacing: 0.05em;
  border-bottom: solid 2px #1a1918;
}

.customModal button {
  border: none !important;
  outline: none !important;
}

.customModal button:hover svg {
  fill: darkorange !important;
}

.customModal button svg {
  -webkit-transition: all 0.15s ease;
  transition: all 0.15s ease;
  fill: #292419 !important;
}

.customModal .modalBody {
  padding: 1rem 4.5rem;
  background: #f0f0e9;
  height: 100%;
}

.customModal .modalBody .modalHeader {
  color: #292419 !important;
  font-family: "flexa";
  font-size: 4em;
  font-variation-settings: "wght" 275, "wdth" 100;
  -webkit-margin-after: 0rem;
          margin-block-end: 0rem;
  line-height: 110%;
  -webkit-margin-before: 2.5rem;
          margin-block-start: 2.5rem;
}

.customModal .modalBody .modalSubheading {
  color: #7c7762;
  font-size: 1.5em;
  padding-left: 5px;
}

.header {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-name: entranceAnimation;
          animation-name: entranceAnimation;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -ms-interpolation-mode: nearest-neighbor;
      image-rendering: -webkit-optimize-contrast;
      image-rendering: -moz-crisp-edges;
      image-rendering: -o-pixelated;
      image-rendering: pixelated;
}

.header .headerContainer {
  position: absolute;
  top: 4rem;
  right: 4rem;
  height: 275px;
  width: 220px;
  background: #04151f;
  border-radius: 4px 4px 200px 200px;
  border: solid 11px #1f6594;
  -webkit-box-shadow: 3px 5px 17px #959164;
          box-shadow: 3px 5px 17px #959164;
}

.header .headerContainer .monogram {
  color: #364f66;
  font-family: "corporate";
  text-align: center;
  font-size: 5.2em;
  font-variation-settings: "wght" 60.26, "XXXX" 0;
  line-height: 140%;
  letter-spacing: -0.03em;
}

.header .headerContainer .headerBody {
  color: #e2e1d4;
  text-align: center;
  text-transform: uppercase;
  font-size: 3em;
  font-family: "corporate";
  font-variation-settings: "wght" 225, "wdth" 20;
  line-height: 90%;
}

.header .headerContainer img {
  position: absolute;
  bottom: 1px;
  left: 0px;
  width: 190px;
  margin: 0 auto;
}

.title {
  font-size: 6.5em;
  color: #292419;
  font-family: "corporate";
  font-weight: unset;
  padding-left: 0.12em;
  -webkit-margin-before: 0px;
          margin-block-start: 0px;
}

.workSection {
  width: 70%;
  margin-bottom: 5em;
  height: 80vh;
  position: relative;
}

.workSection .workSectionBody {
  position: absolute;
  left: 0px;
  bottom: 0px;
}

.workSection .workSectionBody .workContainer {
  font-family: "flexa";
  text-transform: uppercase;
  font-size: 8em;
  font-variation-settings: "wght" 625, "wdth" 0, "ital" 80;
  padding-left: 30px;
  line-height: 1 !important;
  position: relative;
  color: #1a1918;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-name: entranceAnimation;
          animation-name: entranceAnimation;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  bottom: -25px;
}

.workSection .workSectionBody .workBody {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  z-index: 4;
  position: relative;
}

.workSection .workSectionBody .workBody .trails-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.workSection .workSectionBody .workBody .trails-main div {
  display: inline-block;
}

.workSection .workSectionBody .workBody .trails-main div .trails-text {
  display: inline-block !important;
}

.workSection .workSectionBody .workBody .trails-main div .trails-text div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.workSection .workSectionBody .workBody .trails-main div .trails-text div .workItemContainer {
  border: solid 2px #1a1918;
  border-radius: 55px;
  padding: 22px 42px;
  margin: 2px 4px 2px 0px;
  white-space: nowrap;
  position: relative;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  background: #f0f0e9;
  z-index: 6;
  cursor: pointer;
}

.workSection .workSectionBody .workBody .trails-main div .trails-text div .workItemContainer .workItem {
  font-family: "flexa", sans-serif;
  color: #1a1918;
  font-size: 2.2rem;
  line-height: 110%;
  cursor: pointer;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  font-variation-settings: "wght" 275, "wdth" 100;
  letter-spacing: -0.08rem;
  text-align: center;
}

hr {
  border: 0;
  height: 1px;
  background: #3f3e3d;
}

.container main {
  border-radius: 3px;
  margin: 0 auto;
  background-color: #e2e1d4;
  background-image: url("/public/img-noise.png");
  overflow: hidden;
  padding: 5rem 5rem;
}

.clickable {
  cursor: url("/pointer.png"), pointer;
}

body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  scroll-behavior: smooth;
  background-color: #e2e1d4;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: unset;
}

@font-face {
  font-family: "corporate";
  src: url("./fonts/Corporate-Light.ttf");
}

@font-face {
  src: url("./fonts/GT_Flexa_VAR.woff2") format("woff2-variations");
  font-family: "flexa";
  font-style: normal;
}

@font-face {
  src: url("./fonts/Jabin.woff2") format("woff2-variations");
  font-family: "jabin";
  font-style: normal;
}

@-webkit-keyframes entranceAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes entranceAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/*# sourceMappingURL=globals.css.map */